version: "3.8"

services:
    app:
        build: .
        container_name: laravel_app
        restart: unless-stopped
        working_dir: /var/www/html
        volumes:
            - /var/www/laravel-docker:/var/www/html
        environment:
            - APP_ENV=production
            - APP_DEBUG=false
        networks:
            - laravel

    nginx:
        image: nginx:alpine
        container_name: laravel_nginx
        restart: unless-stopped
        ports:
            - "80:80"
        volumes:
            - /var/www/laravel-docker:/var/www/html
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - app
        networks:
            - laravel

    db:
        image: mariadb:10.11
        container_name: laravel_db
        restart: unless-stopped
        environment:
            MARIADB_DATABASE: laravel_docker
            MARIADB_USER: laravel_user
            MARIADB_PASSWORD: supersecret12345
            MARIADB_ROOT_PASSWORD: root123
        volumes:
            - db_data: /var/lib/mysql
        networks:
            - laravel

networks:
    laravel:

volumes:
    db_data:
